{% extends 'FrontendBundle::layout.html.twig' %}
{% import 'FrontendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'FrontendBundle:Macros:buttons.html.twig' as buttons %}

{% block content %}
	
    <h1>Editar Post</h1>

    {{ form_start(edit_form) }}
	{{ form_widget(edit_form) }}
	{{ buttons.save() }}
    {{ form_end(edit_form) }}
    
    {{ buttons.back(path('post')) }}        
    {{ buttons.delete(delete_form) }}    
    {{ buttons.delete_modal(path('post_delete', { 'id': entity.id }), delete_form) }}
    
{% endblock %}

