<ul class="pager">
    <!-- FIRST -->
    {% if currentPage > 1 %}
        {% set rParams =  {'page': firstPage, 'paginatorId': id} | merge(routeParams) %}
        <li>
            <a href="{{ path(route, rParams) }}" class="btn"><i class="icon-caret-left"></i><i class="icon-caret-left"></i> </a>
        </li>
    {% else %}
        <li>
            <a href="#" class="btn"><i class="icon-caret-left"></i><i class="icon-caret-left"></i> </a>

        </li>
    {% endif %}

    <!-- PREVIOUS -->
    {% if currentPage > 1 %}
        {% set rParams =  {'page': previousPage, 'paginatorId': id} | merge(routeParams) %}
        <li class="{{ previousEnabledClass }}">
            <a href="{{ path(route, rParams) }}" class="btn"><i class="icon-caret-left"></i> </a>
        </li>
    {% else %}
        <li>
            <a href="#" class="btn"><i class="icon-caret-left"></i> </a>
        </li>
    {% endif %}

    <!-- NUMBERS -->
    {% for page in minPage..maxPage %}
        {% if page == currentPage %}
            <li class="{{ currentClass }}">
                <a href="#" class="btn btn-info">{{ page }}</a>
            </li>
        {% else %}
            {% set rParams =  {'page': page, 'paginatorId': id} | merge(routeParams) %}
            <li>
                <a href="{{ path(route, rParams) }}" class="btn">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}

    <!-- NEXT -->
    {% if currentPage < lastPage %}
        {% set rParams =  {'page': nextPage, 'paginatorId': id} | merge(routeParams) %}
        <li class="{{ nextEnabledClass }}">
            <a href="{{ path(route, rParams) }}" class="btn"> <i class="icon-caret-right"></i></a>
        </li>
    {% else %}
        <li>
            <a href="#" class="btn"> <i class="icon-caret-right"></i></a>
        </li>
    {% endif %}

    <!-- LAST -->
    {% if currentPage < lastPage %}
        {% set rParams =  {'page': lastPage, 'paginatorId': id} | merge(routeParams) %}
        <li class="{{ lastEnabledClass }}">
            <a href="{{ path(route, rParams) }}" class="btn"> <i class="icon-caret-right"></i><i class="icon-caret-right"></i></a>
        </li>
    {% else %}
        <li class="{{ lastDisabledClass }}">
            <a href="#" class="btn"> <i class="icon-caret-right"></i><i class="icon-caret-right"></i></a>
        </li>
    {% endif %}
</ul>