{% extends 'FrontendBundle::layout.html.twig' %}
{% import 'FrontendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'FrontendBundle:Macros:buttons.html.twig' as buttons %}

{% block content %}

  <div class="alert alert-info">
    {% if app.user %}
        {% set usuario = (app.user.firstName ~', '~ app.user.lastName) %}
    {% else %}
        {% set usuario = "" %}
    {% endif %}
      Bienvenido <strong>{{ usuario }}</strong> al {{ global.app.name }}
  </div>

  <h1>¿Qué hay aquí? <small>...algunos ejemplos.</small></h1>
  <hr>
  <legend>Etiquetas</legend>
  <span class="label label-success">Label success</span>
  <span class="label label-warning">Label warning</span>
  <span class="label label-info">Badges: </span>
  <span class="badge badge-important">1</span>
  <span class="badge badge-important">2</span>
  <span class="badge badge-important">3</span>
  <span class="badge badge-info">4</span>
  <span class="badge badge-inverse">5</span>
  <span class="badge badge-success">6</span>
  <legend>Alertas (Con macros)</legend>
  {{ alerts.success('La operación se ha efecutado correctamente!') }}
  {{ alerts.info('Mensaje informativo.') }}
  {{ alerts.error('Se ha producido algún error.') }}
  {{ alerts.warning('Prestar atención.') }}
  <legend>Botones (bootstrap)</legend>
    <button class="btn btn-large btn-primary" type="button">Large button</button>
    <button class="btn btn-default btn-success" type="button">Default medium</button>
    <button class="btn btn-mini btn-warning" type="button">Mini</button>
  <legend>Botones (Con macros)</legend>
    {{ buttons.create(path('homepage')) }}
    {{ buttons.edit(path('homepage')) }}
    {{ buttons.save(path('homepage')) }}
    {{ buttons.show(path('homepage')) }}
    {{ buttons.delete(path('homepage'), 'Eliminar') }}

  <legend>Iconos</legend>
    <i class="icon-user icon-4x"></i>
    <i class="icon-user icon-2x"></i>
    <i class="icon-user"></i>
    <i class="icon-spinner icon-spin"></i>
  <legend>Otros Widgets</legend>
  <form action="#" class="form-horizontal">
    <label for="">Calendario</label>
    <div class="input-prepend">
      <span class="add-on"><i class="icon-calendar"></i></span>
      <input type="text" class="span10" value="02-16-2012" id="dp1">
    </div>
  </form>
  <form>
    <div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span>
      <input class="span10" type="text" placeholder="Email address">
    </div>
    <div class="input-prepend">
      <span class="add-on"><i class="icon-key"></i></span>
      <input class="span10" type="password" placeholder="Password">
    </div>
  </form>
  <legend>Exportar</legend>
  <a href="{{path('excel')}}" class="btn btn-primary"><i class="icon-download-alt"></i> Exportar a Excel</a>
  <a href="{{path('pdf')}}" class="btn btn-primary"><i class="icon-download-alt"></i> Exportar a PDF</a>
  <a href="{{path('versiones', {'id': 3})}}" class="btn btn-primary"><i class="icon-download-alt"></i> versiones</a>
{% endblock %}
