{% macro success(text, class) %}
<div class="alert alert-success {{class}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading"><i class="icon-check-sign"></i> {{ 'base.alert.success.title'|trans }}</h4>
    {{ text }}
</div>
{% endmacro %}

{% macro info(text, class) %}
<div class="alert alert-info {{class}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading"><i class="icon-info-sign"></i> {{ 'base.alert.info.title'|trans }}</h4>
    {{ text }}
</div>
{% endmacro %}

{% macro error(text, class) %}
<div class="alert alert-error {{class}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading"><i class="icon-remove-sign"></i> {{ 'base.alert.error.title'|trans }}</h4>
    {{ text }}
</div>
{% endmacro %}

{% macro warning(text, class) %}
<div class="alert alert-warning {{class}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading"><i class="icon-warning-sign"></i> {{ 'base.alert.attention.title'|trans }}</h4>
    {{ text }}
</div>
{% endmacro %}